/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [personaId]
      ,[name]
      ,[lastName]
      ,[identification]
      ,[email]
      ,[password]
      ,[createdAt]
      ,[updatedAt]
      ,[createdBy]
      ,[updatedBy]
      ,[PayrollRolId]
  FROM [2020Analisis].[VACATIONS].[Person]

  use [2020Analisis]

  Delete VACATIONS.Rol where rolId = 3
  Delete VACATIONS.Payroll where rolId = 1
   Delete VACATIONS.Person where personaId = 1

 -- alter para que el nomnbre del departamento cupiera 
  Alter table VACATIONS.Person ADD CONSTRAINT identification_ck UNIQUE (identification)

-- roles
INSERT into VACATIONS.Rol (name, description, createdAt, updatedAt, createdBy, updatedBy) 
  values ('Employee', 'Vacations', GETDATE(), GETDATE(), 305150456, 305150456), 
		 ('Administator', 'Vacations', GETDATE(), GETDATE(), 308900456, 308900456),
		 ('Manager', 'Vacations', GETDATE(), GETDATE(), 208950456, 208950456)
				
-- salarios
INSERT into VACATIONS.Payroll(salary, bonusSalary, createdAt, updatedAt, createdBy, updatedBy) 
  values (450000, 0,  GETDATE(), GETDATE(), 308900456, 308900456),
		 (650000, 0,  GETDATE(), GETDATE(), 308900456, 308900456),
		 (800000, 0,  GETDATE(), GETDATE(), 308900456, 308900456),
		 (550000, 0,  GETDATE(), GETDATE(), 308900456, 308900456) 
		 

-- consejo municipal
 -- alcalde  
  INSERT into VACATIONS.Person (name, lastName, identification, email, password, createdAt, updatedAt, createdBy, updatedBy, PayrollRolId) 
  values 
		 ('Laura','Morales Brenes', 309980166,  'laura2016M@gmail.com', 'Gh567YUTi', GETDATE(), GETDATE(), 305150456, 305150456, 4)

 -- jefe de departamentos 

 -- empleados por departamento
 --1. RRHH


 --2. Tecnolgías de Información
		
		 
 --3. Patentes



 --4. Cobros
 --5. Proveeduría
 --6. Catastro
 --7. Contabilidad
 --8. Auditoria Interna
 --9. Administrativo Financiero  
 --10. Presupuesto
 --11. Ingeniería
 --12. Servicios Generales  


INSERT into VACATIONS.Person_Rol(PersonpersonaId, RolRolId)
		 values (3, 9), 
				(4, 9),
				(5, 9), 
				(6, 9),
				(7, 9), 
				(8, 9),
				(9, 9), 
				(10, 8),
				(11, 9), 
				(12, 9),
				(13, 9), 
				(14, 9),
				(15, 9), 
				(16, 9),
				(17, 9), 
				(18, 9),
				(19, 9), 
				(20, 7),
				(21, 7), 
				(22, 7),
				(23, 7), 
				(24, 7),
				(25, 7), 
				(26, 7),
				(27, 7),
				(28, 7), 
				(29, 7),
				(30, 7), 
				(31, 7),
				(32, 7), 
				(33, 7)
				

INSERT into VACATIONS.Person_Departament(PersonpersonaId, DepartamentdepartamentId)
		 values (22,1),
				(23,1),
				(24,1),
				(25,1),
				(26,1),
				(27,2),
				(28,2),
				(29,2),
				(30,2),
				(31,3),
				(32,3),
				(33,3)



