@{
     ViewBag.Title = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">@Html.ActionLink("Inicio", "Index", "HomeManager")</a></li>
            <li class="breadcrumb-item active" aria-current="page">Solicitudes</li>
            <li class="breadcrumb-item active" aria-current="page">@Html.ActionLink("Atender Solicitudes","Serve", "Request")</li>
            <li class="breadcrumb-item active" aria-current="page">Detalles</li>
        </ol>
    </nav>
    <h2>Detalles de la solicitud</h2>
    <div>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Solicitante</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Fecha final</th>
                    <th scope="col">Días solicitados</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>nn</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>nn</td>
                </tr>
            </tbody>
        </table>

    </div>
    <button type="button" class="btn btn-dark">@Html.ActionLink("Atrás", "Serve", "Request")</button>
</body>
</html>
